<!DOCTYPE html>
<html>
<head>
  <title>ES6-Chat</title>
  <link href="public/main.css" media="all" rel="stylesheet"/>
</head>
<body>

  <h1 class="headline">ES6-Chat</h1>

  <div id="app" class="container"></div>

  <script src="dist/main.js"></script>
  <script src="//localhost:35729/livereload.js"></script>


  <!-- TEMPLATES -->


	<script type="text/template" name="rooms">
    <div class="panel">
      <div class="panel-head">
        <h2>Rooms <a href='#' class='new'>+</a></h2>
      </div>
      <div id='rooms' class="panel-body"></div>
    </div>
    <div class="overlay">
      <div class="modal">
        <h2>Create New Room</h2>
        <form class="newRoomForm" method="POST" action="/api/rooms">
          <div class="form-input">
            <input type="text" name="name" placeholder="Room Name" />
            <input type="submit" value="Create" />
            <a href="#" class="fake-button">Create</a>
          </div>
        </form>
      </div>
    </div>
	</script>

  <script type="text/template" name="rooms-item">
    <a href='#<%= _id %>'>
      <%= name %> (<%= users.length %>)
      <a class="remove float-right" data-id="<%= _id %>" href="#">delete</a>
    </a>
  </script>

  <script type="text/template" name="chat">
    <div id='chat'>
      <div id='chatfield'>
        <div id='messages'></div>
        <div id='write'>
          <input id='messageText' name='message' />
          <button id="sendMessage">
            Send
          </button>
        </div>
      </div>
      <div id='userfield'>
        <div id='userlist'></div>
      </div>
    </div>
  </script>

  <script type="text/template" name="message">
    <div>
      <span class='sender'><%= sender %></span>
      <span class='text'><%= text %></span>
    </div>
  </script>

</body>
</html>
