#messages {
  height: 300px;
  overflow-y: scroll;

  .sender {
    color: #AEAC73;
  }

}

#write {
  margin-top: 30px;
}

#userfield #list {
  li {
    list-style-type: none;
    display: inline;
  }
}
